body {
 background-color: rgb(207, 233, 233);
}

header {
  text-align: center;
  font-size: 3.5rem;
  color: #3E3E3E;
  margin: 3rem 0 2rem 0;
}

.nav-bar:after {
  content: "";
  display: table;
  clear: both;
}

.nav-bar li{
  padding: 0 1rem;
  float: right;
  list-style: none;
}

.nav-bar ul a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #3E3E3E;
}

.nav-bar ul a.active {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #3E3E3E;
}

.choices {
  text-align: center;
}

.choice {
  padding: 2rem;
  display: inline-block;
  width: 10rem;
}

.choices.clickable .choice:active {
  box-shadow: inset 0px 0px 50px 30px rgb(223, 245, 245);
  border-radius: 15px;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.container img {
  padding: 2rem 12rem;
  display: inline-block;
  width: 10rem;
}

.score {
  border: 1px solid #3E3E3E;
  border-radius: 2px;
  margin: 2rem;
  padding: 3rem;
  text-align: center;
  font-size: 4rem;
  color: #3E3E3E;
}

.label {
  margin: 6.5rem 0 6rem 0;
  padding: 0.8rem;
  border: 1px solid #F1BD57;
  border-radius: 1px;
  background-color: rgb(245, 207, 132);
  color: #3E3E3E;
  font-size: 1rem;
}

.match-message {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: rgb(241, 154, 146);
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
  font-size: 3rem;
  color: white;
  margin: 3rem 1rem 0 1rem;
  display: block;
}

.btn.new-game-btn {
  background-color: rgb(245, 195, 191);
}
