body {
 background-color: rgb(207, 233, 233);
}

header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #3E3E3E;
}

.choices {
  text-align: center;
  margin-top: 3rem;
}

.choice {
  display: inline-block;
  width: 10rem;
}