body {
 background-color: rgb(207, 233, 233);
}

header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #3E3E3E;
  margin-top: 1rem;
}

.choices {
  text-align: center;
}

.choice {
  padding: 2rem;
  display: inline-block;
  width: 10rem;
}

.choice:active {
  box-shadow: inset 0px 0px 50px 30px rgb(223, 245, 245);
  border-radius: 15px;
}

.nav-bar:after {
  content: "";
  display: table;
  clear: both;
}

.nav-bar li{
  padding: 0 1rem;
  float: right;
  list-style: none;
}

.nav-bar ul a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #3E3E3E;
}

.match-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.score {
  border: 1px solid #3E3E3E;
  border-radius: 2px;
  margin: 4rem 2rem;
  padding: 4rem 4rem 0 4rem;
  text-align: center;
  font-size: 2.5rem;
  color: #3E3E3E;
}

.label {
  margin: 6.5rem 0 12rem 0;
  padding: 0.8rem;
  border: 1px solid #F1BD57;
  border-radius: 1px;
  background-color: rgb(245, 207, 132);
  color: #3E3E3E;
  font-size: 1rem;
}

.match-message {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.play-btn {
  background-color: rgb(241, 154, 146);
  border-radius: 2px;
  padding: 1rem;
  font-size: 3rem;
  color: white;
  margin: 3rem auto 0 auto;
  display: block;
}